.jsonValue {
    display: inline-block;
    color: purple;
    margin-left: 1em;
}

.jsonElement {
    list-style: none;
    border-left: palegoldenrod 1px dashed;
}

.jsonLabel {

}

.mainHeader {
    text-align: center;
}

.hidden {
    display: none;
}

#result-line {
}

.page-container {
    margin: 20px 40px;
}

#input {
    height: 200px;
}

#tree-container {
    flex: 1 1 auto;
    height: auto;
    min-height: 200px;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

.pretext-width{
    width: 200px;
}

.pretext-width > span {
    width: 100%;
}

.input-group {
    margin-bottom:20px;
}

.page-container {
    font-family: monospace;
}

.chevron {
    width: 10px;
    margin-right: 10px;
    -webkit-transition: -webkit-transform .4s ease-in-out;
    -ms-transition: -ms-transform .4s ease-in-out;
    transition: transform .4s ease-in-out;  
 }

 .chevron-closed {
     transform: rotate(-90deg);
 }

 .selectBox {
     margin-left:20px;
 }
